.navHeader {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10rem;
  justify-items: start;
  align-items: center;
}

.menuL {
  display: grid;
  position: absolute;
  left: 20px;
}

.menuR {
  display: grid;
  position: absolute;
  right: 20px;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 0.7fr;
  justify-items: end;
  align-items: center;
}
